{% extends "admin/login.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
  #header {
    background-color: transparent !important;
    display: block;
  }
  .navbar  { display: none; }
</style>
{% endblock %}

{% block branding %}
<h1>
  <span style="color: #417690 !important">Admin Login</span>
  <br />
  <small>{% block head_title %}{% endblock %}</small>
</h1>
{% endblock %}

{% block content_title %}
<p class="lead" style="font-size: larger"><b> This Login is for Super User of the TheDesire.co.in. 
All other Users go back to home</b> <a href="/"><button type="button" >Go to Home</button></a>
</p>
{% endblock %}