{% load static %}
<!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> -->

<style type="text/css">

     html{
  position:relative; 
  min-height: 100%;
}
html,body{
  margin:0;
  padding:0;
}

#footer{
   background-color: #100f15;
   position: absolute;
   bottom: 0;
   width: 100%;
   margin: 0;
   padding: 0;
   left: 0;
   right: 0;
   overflow-x: hidden; 
}

</style>

<footer class="" id="footer" style="">
  <div class="row" style="padding-top: 20px;">
    
  
    <div class="col-lg-4 col-sm-12 text-center" style="color: white;margin-bottom: 20px;">
         <a href="/#" class="mx-1">

            <i style="font-size: 16px;  color: white;  border: 2px solid white;  border-radius: 50%;  padding: 5px;" class="fa fa-twitter social"></i>
         </a>
         <a href="/#" class="w-6 mx-1">

            <i class="fa fa-instagram social"></i>
         </a>
         <a href="/#" class="w-6 mx-1">
     
            <i class="fa fa-youtube-play social"></i>
         </a>
         <a href="/#" class="w-6 mx-1">
           
            <i class="fa fa-linkedin social"></i>
         </a>
         <a href="/#" class="w-6 mx-1">
          
            <i style="padding: 5px 8px;" class="fa fa-facebook social"></i>
         </a>
      </div>
      <div class="col-lg-5 col-sm-12 text-center">
    <p class="text-secondary">Copyright&#9400; 2020 The Desire is Proudly Developed By <a href="http://www.vyounic.com" style="color: #fe4a55;">VYounic</a></p>
    </div>
  </div>
</footer>

<script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'ECART.js' %}"></script>
